@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(166, 168, 53, 0.61), rgba(179, 169, 38, 0.678)), url(turtles6.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*The code for the sub background image*/
.BG-subimg{
    min-height:50vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.8)),url(background_subimg.jpg);
    background-position: center center;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

/*media querry fix for the navbar*/
@media screen and (max-width:1000px) {
  
nav{
  flex-direction:column;  
}    

.nav-bar ul li a{
  display: flex;
  flex-direction:column ;
}

.image-row{
  flex-direction: column;
}

}

nav{
    display: flex;
    padding: 1% 1%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100x;
}

.nav-bar{
    flex: 1;
    text-align: right;
}

.nav-bar ul li{
    padding: 8px 12px;
    list-style: none;
    display: inline-block;
    position: relative; 
}

.nav-bar ul li a{
    color: whitesmoke;
    text-decoration: none; 
    font-size: 80%;
    font-family: "Oswald";

}

/*Animation effect of the navigation bar done in the below two style segments*/

.nav-bar ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-bar ul li:hover::after{
    width: 100%;
    height: 3px;
    color: #000000;
}

.nav-bar .dropdown {
  position: relative;
}

.nav-bar .dropdown:hover .dropdown-menu {
  display: block;
}

.nav-bar .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1e057a;
  padding: 0 25px 0;
}

.nav-bar .dropdown-menu li {
  margin: 5px 0;
}

.nav-bar .dropdown-menu a {
  font-size: 14px;
}


.SOasis{
    width: 90%;
    font-family: "Oswald";
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    

}

.SOasis h1{
    font-size: 80px;
    text-align: center;
    
}

.SOasis h2{
    margin: 10px 0 40px;
    font-size: 20px;
    text-align: center; 
}


.SOdesc{
    background-color: #06073d;
    font-family: "Oswald";
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    padding: 15% 5% 15%;
}

.SOdesc h2{
    padding-top: 10%;
    text-align: center;
}

.donate-button {
    text-align: center;
    padding-top: 1%;
  }
  
  .donate-button button {
    background-color: transparent;
    color: white;
    border: solid whitesmoke 2px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: grab;
    transition: background-color 0.3s ease-in-out;
  }
  
  .donate-button button:hover{
    background-color: whitesmoke;
    color: #000000;
  }

  .card-acceptance {
    text-align: center;
    font-size: 14px;
    padding-top: 5%;
  }

  .Merchandise{
    background-color: #06073d;
    color: antiquewhite;
    font-family: "Oswald";
    padding-top: 5% ;
    padding-bottom: 10%;
    text-align: center;
  }

  .Merchandise h2{
    padding-bottom: 10%;
  }


  .image-row {
    display: flex;
    justify-content: space-around;
  }
  
  .image-container {
    text-align: center;
    margin: 10px;
    position: relative;
    overflow: hidden;
    
  }
  
  /*code for the merchandise thing*/
  .image {
    width: 350px;
    height: 350px;
    transition: transform 0.5s ease;
    
  }
  
  .image:hover {
    transform: scale(1.4);
    background-color: #ffffffa8;
  }
  
  .image-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    padding-left: 2px;
  }

  .purchase_button {
    text-align: center;
    padding-top: 3%;

  }
  
  .purchase_button button {
    background-color: transparent;
    color: white;
    border: solid whitesmoke 2px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: grab;
    transition: background-color 0.3s ease-in-out;
    
    
  }
  
  .purchase_button button:hover{
    background-color: whitesmoke;
    color: #000000;
  }



  /*Footer starts from here*/

@media screen and (max-width:600px) {
    .footer-col{
      display: none;
    }
}

.footer {
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    background-color: black;
    scale: 100%;
    margin: 0;
    padding-top: 40px;
    padding-left: 45px;
    padding-bottom: 20px;
    padding-right: 40px;
    box-sizing: border-box;
    }
    


    .foot-container {
    max-width: 100%;
    margin: 5px;
    }
    
    .footer-row {
    display: grid;
    grid-template-columns: 18% 18% 64%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    }
    
    .footer-col a:hover{
    text-decoration: none;
    color: white;
    }
    
    .footer-col a{
    color: slategray;
    text-decoration: none;
    }
    
    .footer-col {
    padding: 0 5px;
    }
    
    .footer-col-1 {
    line-height: 90%;
    margin-top: 20px;
    margin-left: 0%;
    }
    
    .footer-col-2 {
    line-height: 90%;
    margin-top: 20px;
    margin-left: 0%;
    }
    
    .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 550;
    position: relative;
    }
    
    .footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    width: 50px;
    }
    
    .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
    }
    
    .footer-col-socials {
    padding: 10%;
    padding: 0 5px;
    display: inline;
    margin-left: 80%;
    }
    
    .social-links a {
    height: 20px;
    width: 20px;
    display: inline;
    margin-top: 10px;
    margin-left: 8px;
    }
    
    .social-links {
    margin-top: 10px;
    margin-left: 24%;
    scale: 1.2;
    }
    
    .social-links img {
    margin: 5px;
    }
    
    .socialsh4 {
    margin-left: 25px;
    }
    .backtop {
    float: right;
    position: static;
    margin-right: 1%;
    margin-bottom: 1%;
    transition: 5s;
    }
    
    .footer h4 {
    color: white;
    display: inline;
    
    }
    
    .footer h5 {
    color: slategray;
    margin-top: 60px;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 20px;
    margin-left:10px ;
    letter-spacing: .5px;
    }